@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5eff5ff;
}

.child {
    width: 700px;
    background-color: white;
    /* padding: 40px; */
    border-radius: 10px;
}

.first-cont {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;

}
.first-cont h1 {
    color: #2ab2afff;
}

.first-cont h2 {
    color: #c0df34ff;
}

.first-cont p {
    color: #98a6bdff;
}

.second-cont {
    display: flex;
    color: white;
    /* font: 'Karla', sans-serif; */
}

.one {
    background-color: #2ab2afff;
    padding: 40px;
    width: 50%;
}

.two {
    background-color: #31e0dd;
    padding: 40px;
    width: 50%;
}

.text h1 {
    font-size: 20px;
    margin-bottom: 10px;
    /* font: 'Karla', sans-serif; */
    /* gap: 10px; */
}