@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5eff5ff;
}

.child {
    width: 620px;
    background-color: white;
    border-radius: 10px;
}

.first-cont {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
    font-family: 'Karla', sans-serif;

}
.first-cont h1 {
    color: #2ab2afff;
}

.first-cont h2 {
    color: #c0df34ff;
}

.first-cont p {
    color: #98a6bdff;
}

.second-cont {
    display: flex;
    color: white;
    font-family: 'Karla', sans-serif;
}

.one {
    background-color: #2ab2afff;
    padding: 40px;
    width: 50%;
    border-bottom-left-radius: 10px;
}

.two {
    background-color: #33c4c1;
    padding: 40px;
    width: 50%;
    border-bottom-right-radius: 10px;
}

.text h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.text p {
    font-size: 15px;
}

.sub-text {
    display: flex;
    gap: 8px;
}

.sub-text h1 {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sub-text p {
    font-size: 12px;
    font-weight: 150;
    font-family: 'Karla', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c0df34ff;
    border-radius: 5px;
}

.button a {
    text-decoration: none;
    color: white;
}

.two h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

.two p {
    font-weight: 200;
    font-size: 12px;
    margin-bottom: 5px;
}